
.grid-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 5px;
}

.box {
margin-top: 10px;
padding:40px;
text-align: center;
cursor: pointer;
background-color: #f7f7f7;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: background-color 0.4s;
}

.box img {
max-width: 100%;
height: 40%;
}
.box:hover {
background-color: #e0e0e0;
margin-bottom: 10px;
transition: background-color 0.4s;
}

.box-content {
padding: 10px;
color:rgb(26, 14, 121)
}

.company-name{
font-size:20px;
padding: 3px 10px;
}

/* ======= BREAKPOINTS ======= */
/* For Medium Devices */
@media screen and (min-width: 576px){
    .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    }
}